<form class="mx-auto max-w-2xl grid grid-cols-2 gap-4 my-16" action="#">
  <div>
    <label for="name" class="sr-only">Name</label>
    <input class="w-full bg-transparent text-white uppercase border-b-2 border-vc-brown-1 py-2 px-0" name="name" type="text" placeholder="Name">
  </div>
  <div>
    <label for="email" class="sr-only">Email</label>
    <input class="w-full bg-transparent text-white uppercase border-b-2 border-vc-brown-1 py-2 px-0" name="email" type="email" placeholder="Email">
  </div>
  <div>
    <label for="phone" class="sr-only">Phone</label>
    <input class="w-full bg-transparent text-white uppercase border-b-2 border-vc-brown-1 py-2 px-0" name="phone" type="tel" placeholder="Phone">
  </div>
  <div>
    <label for="country" class="sr-only">Country</label>
    <input class="w-full bg-transparent text-white uppercase border-b-2 border-vc-brown-1 py-2 px-0" name="country" type="text" placeholder="Country">
  </div>
  <div class="col-span-2">
    <label for="inquiry" class="sr-only">Inquiry</label>
    <textarea class="w-full bg-transparent text-white uppercase border-b-2 border-vc-brown-1 py-2 px-0" name="inquiry" type="text" placeholder="Inquiry"></textarea>
  </div>

  <div class="col-span-2 flex items-center gap-4 justify-center my-8">
    <input class="bg-vc-brown-2" name="terms" type="checkbox">
    <label class="text-white" for="terms">I agree to the <a class="underline decoration-2 underline-offset-2 decoration-vc-brown-1/25 hover:decoration-vc-brown-1 hover:text-vc-brown-1 transition-colors" href="/terms-and-conditions">terms and conditions of confidentiality</a></label>
  </div>

  <div class="col-span-2 flex items-center justify-center">
    <button class="group cursor-pointer text-white uppercase font-bold bg-vc-brown-1 hover:bg-vc-brown-2 duration-200 transition-colors px-6 py-2" type="submit">
      <div class="flex gap-4 -translate-x-2 group-hover:translate-x-0 transition-transform duration-200">
        <span class="italic max-w-2">
          <span class="opacity-0 group-hover:opacity-25 transition-opacity duration-200">I</span><span class="opacity-0 group-hover:opacity-50 transition-opacity duration-200">I</span><span class="">I</span>
        </span>
        <span>Contact Us</span>
      </div>
    </button>
  </div>
</form>

<div class="hidden text-center text-vc-brown-1 text-xl lg:text-3xl upppercase font-bold uppercase relative mx-auto max-w-lg">
  Thank you, we have received your message and will contact you shortly.
</div>