<section id="leadership" class="bg-vc-off-black-1">
  <div class="max-w-screen-xl m-auto py-16 lg:py-32 px-4">
    <h2 class="
      text-center text-vc-off-white-1 text-2xl lg:text-5xl upppercase font-bold uppercase relative 
      before:content-['III'] before:absolute before:top-0 before:left-0 before:italic before:text-sm lg:before:text-3xl
    ">Leadersh<span class="italic">i</span>p</h2>
  
    <div class="flex flex-col md:flex-row gap-8 mt-16 lg:mt-32">

      {{ range .Site.Data.team }}

        <div class="w-full md:w-1/3 border-t border-vc-brown-2">
          <div class="text-vc-brown-2 uppercase mt-6 text-sm">
            {{ $titleWords := split .title " " }}
            {{ range $titleWords }}
              <span class="block -my-1.5 text-bold">{{ . }}</span>
            {{ end }}
          </div>
          {{ $img := resources.Get (printf "img/team/%s" .image) }}
          <div class="aspect-square relative -mt-4">
            <img class="object-contain object-top absolute top-0 left-0 w-full h-full" src="{{ $img.RelPermalink }}" alt="{{ .title }}">
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-vc-off-black-1 to-transparent to-50%"></div>
          </div>
          <div class="flex items-center gap-6 mt-8">
            <h3 class=" uppercase text-vc-off-white-1 font-bold text-xl">{{ .name }}</h3>
            
            {{ if .linkedin }}
              <a href="{{ .linkedin }}">
                <img src="/icons/linkedin.svg" alt="">
              </a>
            {{ end }}

          </div>
        </div>

      {{ end }}
      
    </div>
  </div>
</section>